
#root-window {
    height: 100%;
  }
  
  #render-target {
    position: relative;
    height: 100%;
  }

#ui-toolbar {
    position: absolute;
    width: 100px;
    height: calc(100vh - 32px);
    padding: 16px;
    background-color: #00000033;
    z-index: 20;
  }
  
  .ui-button {
    background-color: #00000055;
    border: 1px solid black;
    color: lightgray;
    height: 40px;
    width: 100%;
    font-size: 16px;
    margin: 8px 0;
  }
  
  .ui-button.selected {
    background-color: #55558855;
  }
  
  .ui-button:not(.selected):hover {
    background-color: #33333355;
  }

.my-button {
  color: red;
}

.sidebar-clickable {
  margin-left: -20px !important;
}

.sidebar-text {
  padding-left: 10px;
}


.MuiDrawer-paper {
  max-width: 180px !important;
  min-width: 75px !important;
}


.drawer-button {
  transition: background-color 0.2s;
}

.drawer-button:hover {
  background-color: #333333;
}

.no-click {
  pointer-events: none !important;
}
  
.drawer .MuiDrawer-paper {
  width: 225px !important;
  max-width: none !important;
}

.editProjectIcon {

}

.editProjectIcon:hover {
  color: white !important;
}